modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Cypress E2E Tests"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Jest Tests"

[[workflows.workflow]]
name = "Cypress E2E Tests"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx cypress run"

[[workflows.workflow]]
name = "Jest Tests"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx jest --config jest.config.js"

[deployment]
run = ["sh", "-c", "npm test"]
